*/build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
!Base.lproj/

xcuserdata
*.xccheckout
*.moved-aside

*.xcworkspacedata

.DS_Store
.idea/

*.hmap
*.lock
*.ipa
*.xcuserstate
*.moved-aside
*.orig
*.pbxuser
*.swp
*.pcvd

UserInterfaceState.xcuserstate

MainApplication.xccheckout
MainApplication.xcworkspace
MainApplication.xcscmblueprint

EagleEye.xccheckout
EagleEye.xcworkspace
EagleEye.xcscmblueprint

Logs
ModuleCache
DerivedData

Pods/*
Pods/*.xcodeproj/project.xcworkspace/xcuserdata/
Pods/*.xcodeproj/xcuserdata/
build/
profile
xcuserdata
*.framework
